<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ABOUT</key>
	<string>Comp 2 videos text at full screen 2x size with subtitles</string>
	<key>Source</key>
	<string>Comp.plist</string>
	<key>Destination</key>
	<string>Comp.mvid</string>
	<key>CompDurationSeconds</key>
	<real>29.96</real>
	<key>CompFramesPerSecond</key>
	<integer>30</integer>
	<key>CompWidth</key>
	<integer>480</integer>
	<key>CompHeight</key>
	<integer>320</integer>
	<key>CompScale</key>
	<integer>0</integer>
	<key>Font</key>
	<string>AmericanTypewriter</string>
	<key>FontSize</key>
	<integer>14</integer>
	<key>FontColor</key>
	<string>#FF0000</string>
	<key>HighQualityInterpolation</key>
	<false/>
	<key>CompClips</key>
	<array>
		<dict>
			<key>ClipSource</key>
			<string>v1.m4v</string>
			<key>ClipType</key>
			<string>h264r</string>
			<key>ClipX</key>
			<integer>0</integer>
			<key>ClipY</key>
			<integer>0</integer>
			<key>ClipWidth</key>
			<integer>480</integer>
			<key>ClipHeight</key>
			<integer>320</integer>
			<key>ClipStartSeconds</key>
			<integer>0</integer>
			<key>ClipEndSeconds</key>
			<real>29.96</real>
		</dict>
		<dict>
			<key>ClipSource</key>
			<string>Girl_384_192.m4v</string>
			<key>ClipType</key>
			<string>h264r</string>
			<key>ClipX</key>
			<integer>257</integer>
			<key>ClipY</key>
			<integer>107</integer>
			<key>ClipWidth</key>
			<integer>192</integer>
			<key>ClipHeight</key>
			<integer>96</integer>
			<key>ClipStartSeconds</key>
			<integer>18</integer>
			<key>ClipEndSeconds</key>
			<real>28.27</real>
			<key>ClipScaleFramePerSecond</key>
			<true/>
		</dict>
		<dict>
			<key>ClipSource</key>
			<string>GlobeCroppedResized_rgb_CRF_20_24BPP.m4v</string>
			<key>ClipSourceAlpha</key>
			<string>GlobeCroppedResized_alpha_CRF_20_24BPP.m4v</string>
			<key>ClipType</key>
			<string>h264ar</string>
			<key>ClipX</key>
			<integer>3</integer>
			<key>ClipY</key>
			<integer>30</integer>
			<key>ClipWidth</key>
			<integer>100</integer>
			<key>ClipHeight</key>
			<integer>100</integer>
			<key>ClipStartSeconds</key>
			<real>9.5</real>
			<key>ClipEndSeconds</key>
			<real>19.5</real>
			<key>ClipScaleFramePerSecond</key>
			<true/>
		</dict>
		<dict>
			<key>ClipText</key>
			<string>Welcome to Today&apos;s news!</string>
			<key>ClipType</key>
			<string>text</string>
			<key>ClipX</key>
			<integer>10</integer>
			<key>ClipY</key>
			<integer>287</integer>
			<key>ClipWidth</key>
			<integer>464</integer>
			<key>ClipHeight</key>
			<integer>25</integer>
			<key>ClipStartSeconds</key>
			<integer>10</integer>
			<key>ClipEndSeconds</key>
			<integer>13</integer>
			<key>FontColor</key>
			<string>#FFFFFF</string>
		</dict>
		<dict>
			<key>ClipText</key>
			<string>Where we tell you everything you are allowed to hear.</string>
			<key>ClipType</key>
			<string>text</string>
			<key>ClipX</key>
			<integer>10</integer>
			<key>ClipY</key>
			<integer>287</integer>
			<key>ClipWidth</key>
			<integer>464</integer>
			<key>ClipHeight</key>
			<integer>25</integer>
			<key>ClipStartSeconds</key>
			<integer>14</integer>
			<key>ClipEndSeconds</key>
			<real>17.5</real>
			<key>FontColor</key>
			<string>#FFFFFF</string>
		</dict>
		<dict>
			<key>ClipText</key>
			<string>Warning! DO NOT APPROACH THIS SUSPECT!</string>
			<key>ClipType</key>
			<string>text</string>
			<key>ClipX</key>
			<integer>10</integer>
			<key>ClipY</key>
			<integer>287</integer>
			<key>ClipWidth</key>
			<integer>464</integer>
			<key>ClipHeight</key>
			<integer>25</integer>
			<key>ClipStartSeconds</key>
			<integer>18</integer>
			<key>ClipEndSeconds</key>
			<real>28.27</real>
		</dict>
	</array>
</dict>
</plist>
