<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ABOUT</key>
	<string>Comp 2 videos text at full screen 2x size</string>
	<key>Source</key>
	<string>Comp.plist</string>
	<key>Destination</key>
	<string>Comp.mvid</string>
	<key>CompDurationSeconds</key>
	<real>29.96</real>
	<key>CompFramesPerSecond</key>
	<integer>30</integer>
	<key>CompWidth</key>
	<integer>960</integer>
	<key>CompHeight</key>
	<integer>640</integer>
	<key>Font</key>
	<string>AmericanTypewriter</string>
	<key>FontSize</key>
	<integer>14</integer>
	<key>FontColor</key>
	<string>#00FF00</string>
	<key>CompClips</key>
	<array>
		<dict>
			<key>ClipSource</key>
			<string>v1.mp4</string>
			<key>ClipType</key>
			<string>h264</string>
			<key>ClipX</key>
			<integer>0</integer>
			<key>ClipY</key>
			<integer>0</integer>
			<key>ClipWidth</key>
			<integer>960</integer>
			<key>ClipHeight</key>
			<integer>640</integer>
			<key>ClipStartSeconds</key>
			<integer>0</integer>
			<key>ClipEndSeconds</key>
			<real>29.96</real>
		</dict>
		<dict>
			<key>ClipSource</key>
			<string>Girl_384_192.m4v</string>
			<key>ClipType</key>
			<string>h264</string>
			<key>ClipX</key>
			<integer>514</integer>
			<key>ClipY</key>
			<integer>214</integer>
			<key>ClipWidth</key>
			<integer>384</integer>
			<key>ClipHeight</key>
			<integer>192</integer>
			<key>ClipStartSeconds</key>
			<integer>18</integer>
			<key>ClipEndSeconds</key>
			<real>28.27</real>
			<key>ClipScaleFramePerSecond</key>
			<true/>
		</dict>
		<dict>
			<key>ClipText</key>
			<string>Test!</string>
			<key>ClipType</key>
			<string>text</string>
			<key>ClipX</key>
			<integer>20</integer>
			<key>ClipY</key>
			<integer>574</integer>
			<key>ClipWidth</key>
			<integer>928</integer>
			<key>ClipHeight</key>
			<integer>50</integer>
			<key>ClipStartSeconds</key>
			<integer>18</integer>
			<key>ClipEndSeconds</key>
			<real>28.27</real>
		</dict>
	</array>
</dict>
</plist>
